<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Image</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
			rel="stylesheet"
		/>

		<style>
			* {
				font-family: "Noto Sans KR", sans-serif;
			}
		</style>
	</head>
	<body>
		<h1>덕영필름</h1>
		<a
			href="data:image/png;base64,{{ image }}"
			download="dyfilm.png"
			style="
				display: block;
				margin: 10px auto;
				padding: 10px 20px;
				background-color: #555;
				color: #fff;
				text-decoration: none;
				border-radius: 5px;
			"
			>이미지 다운로드</a
		>
		<p>(아이폰에서는 사진을 꾹 눌러 저장하세요)</p>
		<img
			src="data:image/jpg;base64,{{ image }}"
			style="max-width: 100%; height: auto"
		/>
	</body>
</html>
